<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <ul id="lists">
        
    </ul>
</body>
<script>

    const todoListItem = document.querySelector('#lists');
     
    const datafetch = async()=>{
        let res = await fetch('http://127.0.0.1:8000/data', )
        let data = await res.json()
       
        return data
    }

    datafetch()

    const dataView = async()=>{
        let TodoData =  await datafetch();
        TodoData.map((el)=>{
            todoListItem.innerHTML +=`<li>
                <p>${el.Todo}</p>
                <button onClick="deleteFun(${el.id})" >delete</button>
                </li>`
        })


    }
    dataView()
    const deleteFun = async(id)=>{
        let csrf = document.cookie.split(' ')[0]
       
        let token = csrf.split("=")[1]
        let csrfToken = token.split(';')[0]
        console.log(csrfToken)

        let res = await fetch(`http://127.0.0.1:8000/data/${id}/`,  {
            headers:{
                'X-CSRFToken':csrfToken, 
            },
        method: 'DELETE',
    } )
        let data = await res.json()
        console.log(data)
    }

    
</script>
</html>
